@import "../../config/config.scss";

$flushVariable: "flush3";

@include mobile(
  $name: "hero-mob",
  $url:
    "https://images.riverisland.com/is/image/RiverIsland/c20190217-wwlp-hero-OCCASION-mob_DNT",
  $flush: $flushVariable
);
@include mobile(
  $name: "prm1-mob",
  $marginBottom: 2%,
  $flush: $flushVariable,
  $url:
    "https://images.riverisland.com/is/image/RiverIsland/c20200317-wwlp-promo1-dresses-mob_DNT"
);
@include mobile(
  $name: "prm2-mob",
  $marginBottom: 2%,
  $flush: $flushVariable,
  $url:
    "https://images.riverisland.com/is/image/RiverIsland/c20200317-wwlp-promo2-shoes-mob_DNT"
);

@include image(
  $name: "hero",
  $url:
    "https://images.riverisland.com/is/image/RiverIsland/c20200326-wwlp-hero-islanderathome_DNT",
  $flush: $flushVariable
);
@include image(
  $name: "hero-2",
  $url:
    "https://images.riverisland.com/is/image/RiverIsland/c20200326-wwlp-hero-islanderathome_DNT",
  $flush: $flushVariable
);

@include image(
  $name: "prm1",
  $flush: $flushVariable,
  $url:
    "https://images.riverisland.com/is/image/RiverIsland/c20200317-wwlp-promo1-dresses_DNT"
);

@include image(
  $name: "prm2",
  $flush: $flushVariable,
  $url:
    "https://images.riverisland.com/is/image/RiverIsland/c20200317-wwlp-promo2-shoes_DNT"
);

.page-wrapper-flex {
  display: flex !important;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.desktop-section {
  .promo-flex:nth-child(1) {
    order: 3;
    width: 33.33%;
  }
  .promo-flex:nth-child(2) {
    order: 1;
  }
  .promo-flex:nth-child(3) {
    order: 2;
  }
  .promo-flex:nth-child(4) {
    order: 4;
  }
  .promo-flex:nth-child(5) {
    order: 5;
  }

  .hero-container {
    width: 166%;
    .hero {
      padding-bottom: 50%;
    }
  }
  .hero-2-container {
    width: 100%;
    .hero-2 {
      padding-bottom: 50% !important;
    }
  }

  .promo-container {
    width: 33.33%;
    .image {
      padding-bottom: 133%;
    }
  }
  .prm1-container {
    display: inline-block;
  }
  .prm2-container {
    display: inline-block;
  }
}
