.corona-virus, .corona-virus-mob{
    height: auto !important;
    background-color: rgb(31, 25, 25);
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;

    p{
        padding: 1em;
    }
    color: white;
}